<div class="row-sm-12" >
    <div class="col-sm-12">
      <nav class="navbar  navbar-expand-lg navbar-dark bg-dark" >
        <div class="container-fluid">
          <a class="navbar-brand" aria-current="page" style="color: white;" href="/"><img src="/img/logo_optimen.png" style="width: 20%;" alt="Optimen"> UTNG MAPS</a>
          <div class="d-flex">
            <ul class="nav justify-content-end">
              <li class="nav-item me-2">
                <a class="nav-link active " style="color: white;" aria-current="page" href="/users/signin">Iniciar Sesión</a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link " style="color: white;" href="/users/signup">Registrarse</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <%- include('./errors') %>
  <%- include('./messages') %>
 