<div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lgnavbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" aria-current="page" href="/"><img src="/img/logo_optimen.png" style="width: 20%;" alt="Optimen"> UTNG MAPS</a>
          <div class="d-flex">
            <ul class="nav justify-content-end">
              <li class="nav-item me-2">
                <a class="nav-link active " aria-current="page" href="/users/signin">Signin</a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link " href="/users/signup">Signup</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <%- include('./errors') %>
  <%- include('./messages') %>
 